*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:8vh;
    background-color:#042331;
}
.header{
    color:white;
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:22px;
}
.nav-links{
    display:flex;
    justify-content:space-around;
    width:30%;
}
.nav-links a{
    color:white;
    text-decoration:none;
    letter-spacing:3px;
    font-weight:bold;
    font-size:14px;
}
.nav-links li{
    list-style:none;
}
.burger{
    display:none;
}
label #btn,label #cancel{
    position: absolute;
    cursor:pointer;
    background-color:#0b77a8;
    border-radius:3px;
}
label #btn{
    font-size:20px;
    color:white;
    padding:3px 7px;
}
#check{
    display:none;
}
label #cancel{
    z-index:1111;
    left:-195px;
    top:40px;
    font-size:20px;
    color:#0a5275;
    padding:3px 7px;
}
@media screen and (max-width:1024px){
    .nav-links{
        width:50%;
    }
}
@media screen and (max-width:760px){
    body{
        overflow-x:hidden;
    }
    .nav-links{
        position:absolute;
        left:0px;
        height:92vh;
        top:8vh;
        background-color:#042331;
        display:flex;
        flex-direction:column;
        align-items:center;
        transform:translateX(-100%);
        transition: transform 0.5s ease-in;
    }
    .burger{
        display:block;
        cursor:pointer;
    }
}
.nav-active{
    transform:translateX(-0%)
}