*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    background-color: var(--text-color-dark);
    width: 100%;
    overflow-x: hidden;
    font-family: var(--font-family);
}
:root{
    --font-family: 'PT Sans', sans-serif;
    --text-color-dark: hsl(227, 18%, 20%);
    --text-color-light: hsl(227, 14%, 27%);
    --text-color-richer: hsl(210, 32%, 50%);
    --text-color-highlight: hsl(25, 70%, 45%);
}
img{
    max-width: 100%;
}
.country-wrapper{
    margin-top: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    overflow-x: hidden;
}
.country-information{
    background-color: rgb(66, 67, 80);
    box-shadow: 5px 10px 10px  rgb(19, 14, 14);
    width: 19rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 2rem 0;
    height: 28rem;
    overflow-y: hidden;
}
.country-information h4{
    font-size: 1.8rem;
    color: white;
    padding-bottom: .6rem;
}
.country-information p{
    font-size: 1.2rem;
    padding-bottom: 2px;
}
.country-information .details{
    padding: 2rem;
    padding-top: .4rem;
    color: rgb(235, 215, 215);
}
.input{
    display: flex;
    justify-content: space-around;
    height: 4rem;
}
input,select{
    width: 10rem;
    padding-left: 2rem;
    background-color: var(--text-color-light);
    color: rgb(206, 205, 205);
    overflow: hidden;
    box-shadow: 3px 4px 10px rgb(48, 35, 35);
    border: none;
    outline: none;
}
select{
    padding-left: 1.3rem;
}
::placeholder{
    color: rgb(216, 215, 215);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color:var(--text-color-light);
    box-shadow: 14px 5px 10px rgb(19, 14, 14);
    margin-bottom: 2rem;
    align-items: center;
    font-size: 1.6rem;
}
nav i{
    cursor: pointer;
    color: white;
    width: 12rem;
}
nav h3{
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
}
.light-mode{
    background-color: white;
    color: rgb(53, 48, 48);
    box-shadow: 4px 2px 5px rgb(201, 192, 192);
}
.light-mode h3,.light-mode i{
    color: black;
}
.light-mode .country-information{
    box-shadow: 2px 2px 3px rgb(214, 212, 212);
    background-color: rgb(247, 247, 247);
}
.light-mode .country-information h4,.light-mode .country-information p{
    color: rgb(61, 60, 60);
}
.light-mode input,.light-mode select{
    background-color: white;
    color: #000;
    border: 3px solid gray;
    border-radius: 10px;
    box-shadow: none;
}
.light-mode input::placeholder{
    color: rgb(82, 79, 79);
}
.country-wrapper .fa-spinner{
    color: white;
    font-size: 7rem;
}
.spinner{
    color: white;
    font-size: 1.8rem;
}
@media(min-width:760px){
    .country-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .country-information{
        margin: 2rem;
    }
    input,select{
        width: 20rem;
    }
    nav{
        font-size: 2rem;
    }
    nav h3{
        font-size: 2.4rem;
    }
    nav i{
        position: relative;
        right: -35px;
    }
    .country-information p{
        font-size: 1.5rem;
    }
    input,select{
        font-size: 1.5rem;
    }
}